<nav class="erp-sidebar">
    <div class="erp-brand">
        <i class="bi bi-hospital"></i>
        <span>ERP Clínica</span>
    </div>
    <div class="nav-section-title">Organización</div>
    <div class="nav flex-column">
        <a class="nav-link {% if request.resolver_match.url_name == 'grupo-list' %}active{% endif %}"
        href="{% url 'organizacion:grupo-list' %}">
            <i class="bi bi-diagram-3"></i> Grupos
        </a>
        <a class="nav-link {% if request.resolver_match.url_name == 'clinica-list' %}active{% endif %}"
        href="{% url 'organizacion:clinica-list' %}">
            <i class="bi bi-building"></i> Clínicas
        </a>
        <a class="nav-link {% if request.resolver_match.url_name == 'especialidad-list' %}active{% endif %}"
        href="{% url 'organizacion:especialidad-list' %}">
            <i class="bi bi-clipboard2-pulse"></i> Especialidades
        </a>
    </div>

    {% if request.user.is_staff %}
        <div class="nav-section-title">Accesos</div>
        <div class="nav flex-column">
            <a class="nav-link {% if request.resolver_match.url_name == 'usuario-list' %}active{% endif %}"
            href="{% url 'usuarios:usuario-list' %}">
                <i class="bi bi-people"></i> Usuarios
            </a>
        </div>
    {% endif %}
</nav>
