{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}{{ titulo }} · ERP Clínica{% endblock %}
{% block titulo_pagina %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% crispy form %}
                <div class="d-flex justify-content-end gap-2 mt-3">
                    <a href="{{ url_cancelar }}"
                       class="btn btn-outline-secondary">
                       <i class="bi bi-box-arrow-left"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-floppy-fill"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
